<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('../partials/head/_head', { page: "Home" } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('../partials/nav/_nav', { routes } ) %>

    <main class="main">
        <section class="homepage-post-container">
            <div class="homepage-post-display">
            </div>
            <div class="button-container">
                <button class="like">Like</button>
                <button class="comment">Add Comment</button>
                <div class="comments-container">
                    <div class="comment-display">
                    </div>
                </div>
    </main>
</body>
</html>