<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('./partials/head', { page: "Create Post" } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('../partials/nav', { routes } ) %>
  <div class="post-create-box">
      <textarea class="post-create-area" placeholder="The story goes..."
      rows="25" cols="50" maxlength="2500">   
      </textarea>
      <button type="submit">Submit</button>
  </div>
</html>
</body>
                                                  