<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('../partials/head/_head', { page: 'login' } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('../partials/nav/_nav', { routes } ) %>
  <div class="post-create-box">
      <textarea class="post-create-area" placeholder="The story goes...">   
      </textarea>
      <button type="submit">Submit</button>
  </div>
</html>
</body>