<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('../partials/head', { page: "Create Post" } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('../partials/nav', { routes } ) %>
          <section class="hero is-medium has-background-light">
            <div class="hero-body">
              <h1 class="title">New Product</h1>
            </div>
          </section>
      
          <section class="container is-max-widescreen p-5">
            <!-- FORM has two properties 
                  action= path -> where are we sending our form?
                  method= request method (GET, POST)
            -->
            <form action="/" method="POST">
              <div class="field">
                <label class="label">Post Title</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Post Title"
                    name="title"
                  />
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-info">Create Product</button>
                </div>
              </div>
            </form>
          </section>
</html>
</body>