<!DOCTYPE html>
<html lang="en">
        <!-- Head partial -->
  <%- include('../partials/head/_head', { page: 'login' } ) %>

<body class="has-navbar-fixed-top">
          <!-- Navbar Partial -->
          <%- include('../partials/nav/_nav', { routes } ) %>
  <section class="post-container">
      <div class="post-display-container">
      </div>
      <div class="button-container">
          <button class="like">Like</button>
          <button class="comment">Add Comment</button>
      </div>  
    </section>
</body>
</html>